<!-- Interpolation: On remonte une donnée (variable "welcome") depuis le fichier TS vers le fichier HTML -->  
<h1>{{ welcome }}</h1>

<!-- 
  Property binding: On remonte une donnée depuis le fichier TS vers le fichier HTML
  En l'occurance ici, une propriété [src] propre à la balise html <img> qui attends une url d'image
  url que l'on a variabilisé "imgSrc" dans notre fichier TS
-->  
<img src="https://via.placeholder.com/350x150">
<br/>
<img [src]="imgSrc">

<!-- 
  binding d'événements : à chaque (click) sur le bouton, on appelle la fonction "isClicked()" déclarée dans le fichier TS
-->
<br/>
<button (click)="isClicked()">Click here !</button>

<!-- 
  TWO WAY binding: on va à la fois, écrire une donnée depuis le html vers le ts et en même temps, 
  lire cette donnée depuis le ts vers le html
  on va saisir du texte dans un champs input, et afficher ce texte dans une autre balise html
 -->
<br/>
<p>"{{ user.quote }}"</p>
<input type="text" [(ngModel)]="user.quote">


<router-outlet></router-outlet>